In [1]:
# 05_elasticity_analysis.ipynb
# │
# ├── 1. Imports & configuration
# ├── 2. Data preparation for elasticity
# ├── 3. Price–Quantity relationship (EDA)
# ├── 4. Elasticity estimation
# ├── 5. Elasticity by product / category
# ├── 6. Sanity checks & business interpretation
# └── 7. Outputs for pricing optimization

In [2]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pandas as pd
import matplotlib.pyplot as plt

from src.elasticity.elasticity import *

In [3]:
df = pd.read_csv(
    "../data/processed/indian_machinery_transaction_data_3.csv",
    parse_dates=["invoice_date"]
)

df.head()

,invoice_id,invoice_date,year,month,season,customer_type,brand,product_name,product_category,specification,quantity,mrp,selling_price,unit_cost,discount_pct,revenue,profit
0,500001,2019-01-01,2019,1,Winter,Retail,Supreme,PVC Pipe,Pipe,0.5 inch,1,89.61,83.49,70.69,6.83,83.49,12.80
1,500061,2019-01-01,2019,1,Winter,Retail,Jain,Sprinkler Set,Irrigation,Heavy Duty,2,2257.78,2224.77,1902.32,1.46,4449.54,644.90
2,500060,2019-01-01,2019,1,Winter,Contractor,Jain,Sprinkler Set,Irrigation,Mini,2,1446.31,1334.39,1222.70,7.74,2668.78,223.38
3,500059,2019-01-01,2019,1,Winter,Farmer,Jain,Sprinkler Set,Irrigation,Mini,1,1446.31,1195.99,1021.78,17.31,1195.99,174.21
4,500058,2019-01-01,2019,1,Winter,Retail,Jain,Sprinkler Set,Irrigation,Mini,3,1446.31,1423.58,1200.86,1.57,4270.74,668.16

In [4]:
final_df,week_df=elasticity_pipeline_OLS_Model(df)

In [6]:
final_df,weekly_df=elasticity_pipeline_with_lags(df)

In [7]:
final_df

,product_name,model,test_mape,n_train_weeks,n_test_weeks,price_elasticity
0,CPVC Pipe,OLS,9.682904,270,67,-0.400311
1,CPVC Pipe,Ridge,9.512940,270,67,-0.062849
2,CPVC Pipe,Lasso,9.956472,270,67,-0.000000
3,CPVC Pipe,ElasticNet,9.861927,270,67,-0.000000
4,CPVC Pipe,RandomForest,10.202707,270,67,NaN
...,...,...,...,...,...,...
73,Thread Tape,Ridge,15.466729,270,67,-0.052897
74,Thread Tape,Lasso,14.906318,270,67,-0.000000
75,Thread Tape,ElasticNet,15.232138,270,67,-0.000000
76,Thread Tape,RandomForest,18.048072,270,67,NaN
77,Thread Tape,GradientBoosting,23.557226,270,67,NaN