In [1]:
# 05_elasticity_analysis.ipynb
# │
# ├── 1. Imports & configuration
# ├── 2. Data preparation for elasticity
# ├── 3. Price–Quantity relationship (EDA)
# ├── 4. Elasticity estimation
# ├── 5. Elasticity by product / category
# ├── 6. Sanity checks & business interpretation
# └── 7. Outputs for pricing optimization

In [2]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pandas as pd
import matplotlib.pyplot as plt

from src.elasticity.elasticity import *

In [3]:
df = pd.read_csv(
    "../data/processed/indian_machinery_transaction_data_3.csv",
    parse_dates=["invoice_date"]
)

df.head()

,invoice_id,invoice_date,year,month,season,customer_type,brand,product_name,product_category,specification,quantity,mrp,selling_price,unit_cost,discount_pct,revenue,profit
0,500001,2019-01-01,2019,1,Winter,Retail,Supreme,PVC Pipe,Pipe,0.5 inch,1,89.61,83.49,70.69,6.83,83.49,12.80
1,500061,2019-01-01,2019,1,Winter,Retail,Jain,Sprinkler Set,Irrigation,Heavy Duty,2,2257.78,2224.77,1902.32,1.46,4449.54,644.90
2,500060,2019-01-01,2019,1,Winter,Contractor,Jain,Sprinkler Set,Irrigation,Mini,2,1446.31,1334.39,1222.70,7.74,2668.78,223.38
3,500059,2019-01-01,2019,1,Winter,Farmer,Jain,Sprinkler Set,Irrigation,Mini,1,1446.31,1195.99,1021.78,17.31,1195.99,174.21
4,500058,2019-01-01,2019,1,Winter,Retail,Jain,Sprinkler Set,Irrigation,Mini,3,1446.31,1423.58,1200.86,1.57,4270.74,668.16

In [5]:
elastic_df = prepare_elasticity_data(df)
# elastic_df = add_log_features(elastic_df)

product_elasticity = get_elasticity(elastic_df)

product_elasticity

{'elasticity': np.float64(0.24806372200326357),
 'train_mape': np.float64(65.14728282770979),
 'test_mape': np.float64(60.279498809557644),
 'model': <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2a748760910>}

In [ ]:
cat_df = prepare_elasticity_data(
    df,
    group_cols=["product_category", "year", "month"]
)
cat_df = add_log_features(cat_df)

category_elasticity = estimate_elasticity(
    cat_df,
    group_col="product_category"
)

category_elasticity

In [ ]:
cust_df = prepare_elasticity_data(
    df,
    group_cols=["customer_type", "year", "month"]
)
cust_df = add_log_features(cust_df)

customer_elasticity = estimate_elasticity(
    cust_df,
    group_col="customer_type"
)

customer_elasticity